/* Freebies */

body {  /*the outer layer of the site and global style attributes*/
font-family: "Lato", "sans-serif", Helvetica, Arial, sans-serif;
margin: 0px;
background: white;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}


#wrapper {
    position: static; 
    width: auto; 
    margin: auto; 
    min-width: 1024px;
}

#root {
    width: 1024px;  
    background-color: #fff;
    margin-left: calc(50% - 1024px/2);
    margin-right: calc(50% - 1024px/2);
}



/* Landing Page */


/*Top Bar Code*/
#top {
    width: 100%; height: 190px;
    background-color: white;
    position: relative;
    display: block;
    z-index: 100;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 30px;
}

#topbar {
    width: 1024px; height: 190px;
    position: relative;
}

.topitem {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    width: 100px; height: 30px;
    right: -100px; top: calc(50% - 15px);
    position: relative;
    margin-right: 30px;
    opacity: 0.7;
}

.topitem:hover{
    opacity: 1;
    cursor: pointer;
}

#searchbar {
    display: inline-block;
    position: relative;
    top: calc(50% - 17px);
    left: 200px;

}

input {
    height: 34px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
    padding: 6px 12px;
    vertical-align: middle;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0 none;
    display: inline-block;
}

#search {
    position: relative;
    left: 4px;
    top: 0px;
    height: 35px;
}

#searchbutton {
    display: inline-block;
    height: 49px;
    padding: 6px 12px;
    width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
}



.btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 0 none;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#logo {
    width: 115px; height: 115px;
    display: inline-block;
    left: 0px;
    top: calc(50% - 57px);
    position: relative;
    cursor: pointer;
    /*-ms-transform: rotate(-25deg); /* IE 9 */
   /* -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    /*transform: rotate(-25deg); */
    float: left;
}


/* End Top Bar Code*/
/*http://www.brooklyngin.com/?age-verified=f9e5c9e226*/


/*#middle {
    width: 100%; height: 1000px;
    background-color: yellow;
    overflow: hidden;
    display: block;

}*/

#landingoverlay {
    width: 100%; height: 679px;
    opacity: 0.5;
    position: relative;
    z-index: 50;
    background-color: black;
    top: -682px;
}

#landingpic{
    z-index: 25;
    display: block;
    height: 680px;
    width: 100%;
    position: relative;
    top: calc(50% - 310px);
}

#landingteaser1 {
    width: 600px;
    color: white;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 280px;
    left: calc(50% - 300px);
    font-weight: 500;
    top: 215px;
    text-align: center;
}

.landingteaser2 {
    width: 600px; height: 100px;
    color: white;
    font-size: 24px;
    display: block;
    position: absolute;
    z-index: 1000;
    top: 300px;
    left: calc(50% - 300px);
    text-align: center;
}


#landingtext2 {
    top: calc(50% + 140px);
    font-size: 25px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 100;
    display: inline-block;
    left: calc(50% - 86px);
    background-color: #de6868;
}

/*BOTTOM CSS*/

#triangle {
    width: 40px; height: 40px;
    background-color: blue;
    position: relative;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top: -25px;
    left: 60px;
    display: none;
}

#container {
    /*background-color: #edeae5;*/
    width: 100%;
    height: 190px;
    position: relative;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 30px;
    /*display: none;*/
}

.teaser {
    display:inline-block;
    margin:0 0px 0 0 ;
    padding:0 0px 0 0;
    border-right:solid 1px #958D8A;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 330px; height: 190px;
}

.img-teaser {
    width: 80px; height: 80px;
    position: relative;
    left: calc(50% - 40px);
    top: 20px;
}

.teaser-text {
    font-size: 14px;
    font-weight: 400px;
    display: block;
    color: black;
    text-align: center;
    position: relative;
    top: 50px;
}

.teaser:last-child {
    border-right: none;
}


/* FOOTER CSS*/

#footer {
    width: 100%; height: 75px;
    background-color: #594D49;
    bottom: 0px;
    position: static;
    display: block;
    left: 0px;
}

.content {
    margin: 0 auto;
    width:1024px;
    padding:14px 20px;
    height:17px;

}

.left {
    float: left;
    width: 350px;
    line-height: 44px;
}

.left-item {
    list-style-type: none;
    display:inline-block;
    margin:0 14px 0 0;
    padding:0 14px 0 0;
    border-right:solid 1px #958D8A;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px; 
    color: #E4E3E2;
}
#left {
    font-style: italic;
    color: #E4E3E2;
    font-size: 11px;
    opacity: .8;
    display: inline-block;
    top: -10px;
    border-right: none;
    font-family: Georgia Times;
    text-transform: none;
}


.right {
    float: right;
    display:inline;
    width: 500px; 
    text-align: right;
    margin:0 0px 0 0px;
    color: #fff;
    font-size: 11px;
    color:#E4E3E2;
    font-style: normal;
    font-weight: normal;
    position: relative;
    line-height: 45px;
}



/* -----------END OF LANDING PAGE CSS----------------*/

/* ---------START OF INSPIRATIONS PAGE CSS-----------*/




/*----------------------CAROUSEL CSS-------------------------------*/

/* check HW 8 JaveScript for any additional CSS needed from hw to get this working*/

#carousel {
    width: 700px;
    height: 500px;
    margin-left: 0px;
    -webkit-transition: all 0.3s;
}

.carousel-container {
    width: 600px; height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    float: left;
}

.carousel-item {
    width: 100%;
    position: relative;
    height: 100%;
}


#intro {
    float: right;
    width: 384px; height: 454px;
    padding: 0px 20px;
    border-bottom: 1px solid #d3d3d3;
}


.introheader {
   color: #594D49;
   font-size: 40px;
   font-weight: 500px;
   margin-top: 50px;
}

.introtitle {
    color: #787878;
    font-size: 28px;
    font-weight: 500px;
    padding-top: 40px;
    cursor: pointer;
}


.introtext {
    color: #787878;
    font-size: 20px;
    font-weight: 300px;
    padding-top: 15px;

}



/* ------------------------EVENTS-----------------*/

#trailers {
    float: left;
    margin-bottom: 40px;
}

.events {
    width: 335px; height: 260px;
    margin-right: 20px;
    border-right: 1px solid #d3d3d3;
    padding-bottom: 13px;
}

.eventphoto {
    width: 311px; height: 190px;
}

.img {
    width: 100%; height: 190px;
}

.eventtitle {
    font-size: 20px;
    font-weight: 500px;
    margin: 8px 0px;
    cursor: pointer;
}

.eventdescription {
    font-size: 15px;
    font-weight: 300px;
}



#featureditems {
    top: 20px;
    position: relative;
}

.featuredheader {
   color: #594D49;
   font-size: 30px;
   font-weight: 500px;
}

.featuredtitle {
    color: #787878;
    font-size: 20px;
    font-weight: 500px;
    padding-top: 20px;
    cursor: pointer;
}

.featuredtitle:hover{
    text-decoration: underline;
}

.featuredtext {
    color: #787878;
    font-size: 15px;
    font-weight: 300px;
    padding-top: 10px;

}

.featuredtext:last-child {
    margin-bottom: 50px;
}



/* --------------------------------PROFILE CSS--------------------*/

#profile-top {
    height: 264px;
    border-bottom: solid 1px #d3d3d3;
}

#profile-pic {
    width: 236px; height: 244px;
    overflow: hidden;
}

#profile-picholder {
    overflow: hidden;
    padding: 8px 8px 8px 8px; 
    width: 236px; height: 244px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 2px solid #7f7f7f;
    float: right;
}

#description {
    display: inline-block;
    position: relative;
}

/*#description-button {
    color: black; font-weight: 600;
    padding: 10px;
    border: 3px solid black;
    background-color: #b4d1b6;
    width: 130px; height: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    right: -200px;
    top: -30px;
}*/


#profile-header {
    font-size: 36px; font-weight: 700;
    position: relative;
    display: block;
}

#profile-location {
    font-size: 24px;
    display: block;
    position: relative;
    padding-top: 15px;

}

#profile-description {
    float: left;

}

.profile-numbers {
    display: inline-block;
    padding: 22px;
}

.numbers {
    font-size: 72px; font-weight: 700;
    text-align: center;
}


.sidebar-item {
    font-size: 20px; font-weight: 400;
    padding: 20px;
    width: 160px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    border-bottom: #d3d3d3 1px solid;
    margin-top: 20px;
}

.sidebar-item:last-child {
    margin-bottom: 30px;
    padding-right: 20px;
}

.sidebar-item:first-child {
    padding-left: 30px;
    font-weight: 700;
}

/*------BUCKET LIST*-------------*/

#bucketlist {
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    padding: 25px 0px 25px 25px;
    margin-bottom: 30px;
    
}

.bucketlist-title {
    font-size: 36px; font-weight: 500;
    padding-bottom: 30px;
}

.bucketlist-item {
    display: inline-block;
    width: 250px; height: 200px;
    padding: 30px 30px 15px 30px;
    overflow: hidden;
    margin-right: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.bucketlist-img {
    width: 250px; height: 150px;
    overflow: hidden;
}

.item-description {
    margin-top: 20px;
    font-size: 16px; font-weight: 600;
    text-align: center;
}

#continue {
    font-size: 16px; 
    position: relative;
    right: -885px;
    font-weight: 600;
    cursor: pointer;
}

#continue:hover {
    text-decoration: underline;
    font-weight: 700;
}



/*------------JAVASCRIPT CSS*-----------------------*/

.topitem-hover{
    font-weight: 700;
    text-decoration: bold;
}

.bucketlist-img-hover {
    background-color: black;
    opacity: 0.5;
    width: 100%; height: 100%;
}

